@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;500;600;800&display=swap');
@import url('normalize.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body {
    font-family: 'Manrope', sans-serif;
}

a {
    text-decoration: none;
    color: black;
    transition: .3s;
    text-align: center;
}

a:hover {
    text-decoration: none;
    color: rgb(255, 145, 0);
}

/* HOMEPAGE */
.header-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1001;
    padding: 10px;
    box-shadow: 2px 4px 2px 2px rgba(0, 0, 0, 0.096);
    height: 150px;
    background-color: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    font-weight: 200;
    position: relative;
}

.header .left,
.header .right {
    position: absolute;
    display: flex;
    gap: 20px;
    cursor: pointer;
    top: 5px;
}

.header .left {
    left: 15px;
}

.header .right {
    right: 15px;
}

.header-menu {
    display: flex;
    justify-content: center;
    gap: 45px;
    align-items: center;
    list-style: none;
    font-size: 1.3rem;
    position: relative;
}

.footer .fa-pinterest {
    /* transform: translate(-10px, -10px); */
}

.footer .fa-instagram {
    /* transform: translate(10px, -10px); */
}

.header-logo {
    text-align: center;
}

.header-menu span a li {
    margin-top: 24px;
}

.header-logo img {
    width: 70px;
}

.header .header-menu {}

.header-menu li {
    cursor: pointer;
    font-weight: 400;
    font-size: .8rem;
}

.header-menu .contact {
    cursor: pointer;
    margin: 12px 0;
}

/* END HOMEPAGE */

/* SLIDER */
.slider-container {
    margin-top: 154px;
}

.slider-container nav {
    position: relative;
    z-index: 2;
    padding: 1.25rem 0 1.25rem 0;
}

.slider-container nav ul {
    line-height: 2.2;
    display: flex;
    justify-content: flex-start;
}

.slider-container nav ul li {
    margin: 0.325rem 0;
}

#logo {
    color: #232323;
    font-weight: 700;
    font-size: 1.125rem;
}

#highlight {
    color: #e83f43;
}

.slider-container img {
    width: 100%;
    height: 43vh;
    object-fit: cover;
}

.vertical {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro {
    position: relative;
    z-index: 2;
    opacity: 0;
    animation: fadeIn 0.8s 0.4s ease forwards;
}

.intro .title {
    display: inline-block;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1;
    text-decoration: underline;
    color: #e83f43;
}

.intro .title .underline {
    color: #232323;
}

.description {
    position: relative;
    z-index: 1;
    margin: 1rem 0 1.5rem 0;
    font-size: 1rem;
    opacity: 0;
    animation: fadeIn 0.8s 0.6s ease forwards;
}

.slider-item {
    display: none;
}

.slider-item.active {
    display: block;
}

.slider-item.active .hide-mobile {
    display: none;
}

.slider-item.active .show-mobile {
    display: block;
    margin: 1rem 0;
}

.slider-container button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    margin: 0;
    padding: 0;
    font-size: 100%;
    font: inherit;
    font-size: inherit;
    width: 55px;
    height: 55px;
}

.controls {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    padding: 0.25rem 0 0.25rem 0;
}

.controls .previous {
    border: 1px solid #232323;
}

.controls .next {
    border-top: 1px solid #232323;
    border-right: 1px solid #232323;
    border-bottom: 1px solid #232323;
}

.controls .icon {
    position: relative;
    margin: auto;
    width: 20px;
    height: 1px;
    background-color: currentColor;
}

.controls .icon.arrow-left::before {
    content: '';
    position: absolute;
    left: 1px;
    top: -4px;
    width: 9px;
    height: 9px;
    border-top: solid 1px currentColor;
    border-right: solid 1px currentColor;
    transform: rotate(-135deg);
}

.controls .icon.arrow-right::before {
    content: '';
    position: absolute;
    right: 1px;
    top: -4px;
    width: 9px;
    height: 9px;
    border-top: solid 1px currentColor;
    border-right: solid 1px currentColor;
    transform: rotate(45deg);
}

.previous,
.next {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-basis: 15%;
    font-size: 2rem;
    color: #232323;
}

.previous:hover .icon,
.next:hover .icon {
    transform: scale(1.5);
}

.previous .icon,
.next .icon {
    transition: transform 0.1s ease;
}

.active .image-holder::before {
    position: absolute;
    content: '';
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.212);
    transform-origin: 100% 50%;
    animation: revealRight 1s cubic-bezier(0.23, 1, 0.75, 1) forwards;
}

@keyframes revealRight {
    0% {
        transform: scaleX(1);
    }

    100% {
        transform: scaleX(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(20%);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.toggle-nav {
    display: flex;
    justify-content: flex-end;
    font-size: 1rem;
    line-height: 1.9;
}

.toggle-nav i {
    font-size: 1.5rem;
    line-height: 1.3;
    margin: 0 0 0 0.5rem;
}

.flex-nav ul {
    position: absolute;
    z-index: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    display: none;
    width: 100%;
    left: 0;
    padding: 1rem;
    background: #fff;
    text-align: center;
}

.flex-nav ul.active {
    display: flex;
}

@media (min-width: 720px) {
    .slider-container nav ul {
        justify-content: flex-end;
    }

    #logo {
        font-size: 1.25rem;
    }

    .controls {
        padding: 1.75rem 0 1.75rem 0;
    }

    .intro {
        animation: fadeInLeft 0.8s 0.4s ease forwards;
    }

    .intro .title {
        font-size: 4.25rem;
        padding: 2.5rem 2.5rem 3rem 2.5rem;
        background: #fff;
    }

    .slider-container img {
        height: 60vh;
    }

    .description {
        font-size: 1.25rem;
        margin: 1rem 0 0 24px;
    }

    .mg-24 {
        margin: 24px !important;
    }

    .previous,
    .next {
        flex-basis: 8.33%;
    }

    .slider-item.active .hide-mobile {
        display: block;
    }

    .slider-item.active .show-mobile {
        display: none;
    }

    .toggle-nav {
        display: none;
    }

    .flex-nav ul {
        display: flex;
        flex-direction: row;
        position: relative;
        padding: 0;
        justify-content: flex-end;
    }

    .slider-container nav {
        padding: 1.75rem 0 1.75rem 0;
    }

    .slider-container nav ul {
        line-height: 2.2;
        display: flex;
        justify-content: flex-start;
    }

    .slider-container nav ul li {
        font-size: 1rem;
        text-transform: uppercase;
        margin: 0 2rem 0 0;
    }

    .slider-container nav ul li:nth-child(3) {
        margin: 0;
    }
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* END SLIDER */

/* CONTENT */
.content-bellow-slider .option {
    margin-top: 24px;
}

.content-bellow-slider .option img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.content-bellow-slider .option div {
    height: auto;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

.content-bellow-slider .option div:hover {
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.103);
    transform: translate(-2px, -2px);
}

.content-bellow-slider .gr-trade-n-sell {
    text-align: center;
    padding: 88px 0;
    font-size: 2rem;
    /* background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUMmklaIcqVtEC2NJ9S-hJGlXlLIcXdNTfcbx4FijdiwIGOVVUSPGPNvQUT2bHBMuFXw&usqp=CAU);
    background-size: contain; */
    background-color: #D2D2D3;
    border-radius: 10px;
    margin-top: 100px;
    cursor: pointer;
    transition: .3s;
}

.content-bellow-slider .gr-trade-n-sell:hover {
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.103);
    transform: translate(-2px, -2px);
}

.group-item {
    padding: 0 80px;
}

.slogan {
    text-align: center;
    font-size: 2.2rem;
    font-weight: bold;
    margin: 48px 0;
}

.feature {
    background-color: #ffffff;
}

.photos-album,
.feedback {
    display: flex;
    justify-content: space-between;
    padding: 0 !important;
    margin: 0 !important;
}

.photos-album .title,
.feedback .title {
    padding: 120px;
}

.photos-album {}

.feedback {}

.photos-album .img {
    margin-top: 24px;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px 0 0 10px;
    overflow: hidden;
    cursor: pointer;
    padding: 0;
}

.feedback .img {
    margin-bottom: 24px;
    margin-top: 10px;
    background-color: rgb(182, 182, 182);
    border-radius: 0 10px 10px 0;
    overflow: hidden;
    cursor: pointer;
    padding: 0;
}

.photos-album .img img {
    width: 100%;
    height: 100%;
    padding: 0 !important;
    margin: 0 !important;
}

.feedback .img img {
    width: 100%;
    height: 100%;
    padding: 0 !important;
    margin: 0 !important;
}

.feature h2 {
    font-size: 2rem;
    font-weight: bold;
}

.feature h1 {
    font-size: 3rem;
    font-weight: bold;
}

.feature .anotate {}

.feature .see-more {
    cursor: pointer;
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.452);
    margin: 20px 0;
}

.preface {
    margin: 48px 0;
    background-color: #e6e6e6;
    border-radius: 10px;
    padding: 20px;
}

.shopify-section {
    display: flex;
    margin-top: 48px;
}

.shopify-section .item {
    width: 20%;
    border-left: none;
    border-right: none;
    cursor: pointer;
    overflow: hidden;
    transition: .3s;
    padding: 15px;
    border-radius: 5px;
}

.shopify-section .item img {
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    border-radius: 5px;
    overflow: hidden;
}

.shopify-section .item img:hover {
    transform: scale(1);
    border-radius: 5px;
    transition: .3s;
}

.shopify-section-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 120px;
}

.footer {
    background-color: rgb(255, 255, 255);
    font-weight: 800;
}

.footer-menu {
    list-style: none;
}

.footer-logo {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.footer-logo img {
    width: 80px;
    margin: 24px 0;
    margin-bottom: 0px;
}

.footer-menu li {
    cursor: pointer;
    font-weight: 400;
    font-size: .8rem;
}

.footer .contact {
    cursor: pointer;
    display: flex;
    gap: 10px;
    font-size: 1.5rem;
    justify-content: center;
    margin: 10px 0;
    margin-left: 50%;
    transform: translateX(-50%);
}

@media screen and (max-width: 800px) {
    .group-item {
        padding: 0;
    }

    .left-product-info, .right-product-info {
        display: none;
    }

    .info-detail {
        padding: 50px 0 !important;
    }

    .header-menu li,
    .header-menu .contact {
        font-size: .6rem !important;
    }

    .header-menu {
        gap: 10px;
    }

    .header .right {
        display: none;
    }

    .header .left {}

    .home-page .header-wrapper {
        height: 203px;
    }

    .slider-container {
        margin-top: 205px;
    }

    .photos-album .title,
    .feedback .title {
        padding: 29px;
    }
}

@media screen and (max-width: 575px) {

    .photos-album .img,
    .feedback .img {
        border-radius: 0 !important;
    }
}

ol,
ul {
    padding-left: 0 !important;
}

/* END CONTENT */

/* PRODUCTLIST */
.menu-container {
    width: 100%;
    background-color: rgb(235, 235, 235);
    border-radius: 5px;
    transition: .3s;
    cursor: pointer;
}

.menu-container:hover {
    background-color: rgb(212, 212, 212);
}

.menu-container p {
    text-align: center;
}



/* PRODUCTLIST SLIDER */
.this-is-carousel {
    background-color: #232323;
    width: 100%;
    height: 300px;
    margin-top: 155px;
    color: #fff;
    text-align: center;
    padding: 80px;
    font-size: 4rem;
    z-index: 100;
}

/* END PRODUCTLIST SLIDER */
.filter-juice-type {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}

.filter-juice-type div {
    padding: 5px 20px;
    cursor: pointer;
    border-radius: 8px;
}

.filter-juice-type div:hover {
    background-color: rgb(238, 238, 238);
}

/* TABS */
[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

.tabs {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 145, 0);
    color: white;
    font-weight: 600;
}

.tab {
    cursor: pointer;
    padding: 10px;
}

.tab.active {
    color: #000;
}

.tab:hover {
    color: #000;
}

.tab-content {
    padding: 24px;
    background-color: rgb(241, 241, 241);
    border-bottom: 2px solid rgba(0, 0, 0, 0.342);
}

.pod-menu {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    align-items: center;
}

.pod-menu .left-content {
    display: flex;
    gap: 20px;
}

.pod-menu .right-content {
}

.pod-menu .filter-by-juice-type-wrapper {
    float: right;
    margin: 20px 0;
    padding: 10px 80px;
    border-radius: 8px;
    background-color: #fff;
    position: relative;
    margin-right: 30px;
}

.pod-menu .filter-btn {
    position: absolute;
    right: -30px;
    bottom: -30px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: none;
    transition: .3s;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.096);
    font-weight: 700;
}

.pod-menu .filter-btn:hover {
    background-color: rgb(255, 145, 0);
    color: #fff;
}

.pod-menu .filter-title {
    margin-bottom: 20px;
    font-weight: 800;
}

.pod-menu .filter-by-juice-type {
    font-weight: 400;
}

.pod-menu .filter-by-juice-type div {
    padding: 2px 0;
}

.pod-menu .filter-by-juice-type span {
    margin-right: 8px;
}

/* END TABS */

.products-type-name {
    display: flex;
}

.menu .filter-variant-wrapper {
    position: absolute;
    top: 100px;
    right: 200px;
    width: 300px;
}

.filter-variant {
    position: relative;
}

.filter-variant .filter-by-coldness {
    position: absolute;
    bottom: -39px;
    right: 0;
    border: none;
    padding: 2px 25px;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    transition: .3s;
}

.filter-variant .filter-by-coldness:hover {
    background-color: #000;
    color: #fff;
}

.filter-variant-left {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.filter-variant-right {
    display: flex;
    justify-content: space-between;
}

.menu-title {
    text-align: center;
    margin: 10px 0;
    margin-top: 30px;
}

.product-description {
    font-weight: 500;
    margin-top: 24px;
    margin-bottom: 68px;
}

.underline-animation {
    padding: 0 0px;
    text-align: center;
    position: relative;
    font-weight: 800;
    font-size: 2rem;
    margin: 20px auto;
}

.underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: rgb(255, 145, 0);
    bottom: 0;
    left: 0;
    border-radius: 20px;
    transform-origin: bottom left;
    transform: scaleX(1);
    transition: transform 0.5s linear;
    animation: underlineAnimate;
    animation-duration: .8s;
}

@keyframes underlineAnimate {
    0% {
        transform: scaleX(0);
        transform-origin: bottom right;
    }

    100% {
        transform-origin: bottom left;
        transform: scaleX(1);
    }
}

.card {
    border: none;
    font-weight: 600;
    padding: 20px;
    text-align: center;
}

.card:hover .first-img {
    display: none;
}

.card:hover .second-img {
    display: block;
}

.second-img {
    display: none;
}

.product-img {
    width: 100%;
    cursor: pointer;
    overflow: hidden;
}

.product-img img {
    width: 100%;
    animation-name: scaleImg;
    animation-duration: 1.5s;
}

.product-value {
    transform: translateY(30px);
    opacity: 0;
    transition: .5s;
}

.card:hover .product-value {
    color: rgb(255, 145, 0);
    transform: translateY(5px);
    opacity: 1;
}

.card:hover .product-img img {
    /* transform: scale(1.1); */
    /* transition: .5s; */
}

@keyframes scaleImg {
    0% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
    }
}

/* END PRODUCTLIST */

/* PRODUCT DETAIL */
.product-detail-content {
    margin-top: 159px;
}

/* END PRODUCT DETAIL */

/* INTRODUCE PAGE */
.introduce-content {
    margin-top: 228px;
}

a {
    -moz-transition: color 0.3s ease-out;
    -webkit-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}

/* General Demo Style */

a {
    color: #555;
    text-decoration: none;
}

.clr {
    clear: both;
    padding: 0;
    height: 0;
    margin: 0;
}

/* Demo Buttons Style */
.codrops-demos {
    text-align: center;
    display: block;
    line-height: 30px;
    padding: 5px 0px;
}

.codrops-demos a {
    display: inline-block;
    margin: 0px 4px;
    padding: 0px 6px;
    color: #aaa;
    line-height: 20px;
    font-size: 13px;
    text-shadow: 1px 1px 1px #fff;
    border: 1px solid #fff;
    background: #f6f6f6;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(47%, #f6f6f6), color-stop(100%, #ededed));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
    /* IE10+ */
    background: linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=0);
    /* IE6-9 */
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}

.codrops-demos a:hover {
    color: #333;
}

.codrops-demos a:active {
    background: #fff;
}

.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover {
    background: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
    /* IE6-9 */
}

.note {
    padding: 20px;
    text-align: center;
}

/*! normalize.css 2012-03-11T12:53 UTC - https://github.com/necolas/normalize.css */

/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 * Remove excess height in iOS5 devices
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */

[hidden] {
    display: none;
}


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */

html {
    font-size: 100%;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
    -ms-text-size-adjust: 100%;
    /* 2 */
}

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */

html,
button,
input,
select,
textarea {
    font-family: sans-serif;
}

/*
 * Addresses margins handled incorrectly in IE6/7
 */

body {
    margin: 0;
}


/* =============================================================================
   Links
   ========================================================================== */

/*
 * Addresses outline displayed oddly in Chrome
 */

a:focus {
    outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */

a:hover,
a:active {
    outline: 0;
}


/* =============================================================================
   Typography
   ========================================================================== */

/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}

h3 {
    font-size: 1.17em;
    margin: 1em 0;
}

h4 {
    font-size: 1em;
    margin: 1.33em 0;
}

h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
}

h6 {
    font-size: 0.75em;
    margin: 2.33em 0;
}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/

b,
strong {
    font-weight: bold;
}

blockquote {
    margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome
 */

dfn {
    font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
 */

mark {
    background: #ff0;
    color: #000;
}

/*
 * Addresses margins set differently in IE6/7
 */

p,
pre {
    margin: 1em 0;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */

pre,
code,
kbd,
samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers
 */

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */

/* 1 */

q {
    quotes: none;
}

/* 2 */

q:before,
q:after {
    content: '';
    content: none;
}

small {
    font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}


/* =============================================================================
   Lists
   ========================================================================== */

/*
 * Addresses margins set differently in IE6/7
 */

dl,
menu,
ol,
ul {
    margin: 1em 0;
}

dd {
    margin: 0 0 0 40px;
}

/*
 * Addresses paddings set differently in IE6/7
 */

menu,
ol,
ul {
    padding: 0 0 0 40px;
}

/*
 * Corrects list images handled incorrectly in IE7
 */

nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */

img {
    border: 0;
    /* 1 */
    -ms-interpolation-mode: bicubic;
    /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9
 */

svg:not(:root) {
    overflow: hidden;
}


/* =============================================================================
   Figures
   ========================================================================== */

/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */

figure {
    margin: 0;
}


/* =============================================================================
   Forms
   ========================================================================== */

/*
 * Corrects margin displayed oddly in IE6/7
 */

form {
    margin: 0;
}

/*
 * Define consistent border, margin, and padding
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3
 * 3. Corrects alignment displayed oddly in IE6/7
 */

legend {
    border: 0;
    /* 1 */
    padding: 0;
    white-space: normal;
    /* 2 */
    *margin-left: -7px;
    /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */

button,
input,
select,
textarea {
    font-size: 100%;
    /* 1 */
    margin: 0;
    /* 2 */
    vertical-align: baseline;
    /* 3 */
    *vertical-align: middle;
    /* 3 */
}

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */

button,
input {
    line-height: normal;
    /* 1 */
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    /* 1 */
    -webkit-appearance: button;
    /* 2 */
    *overflow: visible;
    /* 3 */
}

/*
 * Re-set default cursor for disabled elements
 */

button[disabled],
input[disabled] {
    cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
    *height: 13px;
    /* 3 */
    *width: 13px;
    /* 3 */
}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */

input[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    /* 2 */
    box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */

textarea {
    overflow: auto;
    /* 1 */
    vertical-align: top;
    /* 2 */
}


/* =============================================================================
   Tables
   ========================================================================== */

/*
 * Remove most spacing between table cells
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.sp-slideshow {
    position: relative;
    margin: 10px auto;
    width: 40%;
    max-width: 1000px;
    min-width: 260px;
    height: 460px;
}

.sp-content {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.sp-parallax-bg {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.sp-slideshow input {
    position: absolute;
    bottom: 15px;
    left: 50%;
    width: 9px;
    height: 9px;
    z-index: 1001;
    cursor: pointer;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}

.sp-slideshow input+label {
    position: absolute;
    bottom: 15px;
    left: 50%;
    width: 6px;
    height: 6px;
    display: block;
    z-index: 1000;
    border: 3px solid #fff;
    border: 3px solid rgba(255, 255, 255, 0.9);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background-color linear 0.1s;
    -moz-transition: background-color linear 0.1s;
    -o-transition: background-color linear 0.1s;
    -ms-transition: background-color linear 0.1s;
    transition: background-color linear 0.1s;
}

.sp-slideshow input:checked+label {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.9);
}

.sp-selector-1,
.button-label-1 {
    margin-left: -36px;
}

.sp-selector-2,
.button-label-2 {
    margin-left: -18px;
}

.sp-selector-4,
.button-label-4 {
    margin-left: 18px;
}

.sp-selector-5,
.button-label-5 {
    margin-left: 36px;
}

.sp-arrow {
    position: absolute;
    top: 50%;
    width: 24px;
    height: 34.5px;
    margin-top: -19px;
    display: none;
    cursor: pointer;
    z-index: 1000;
    background: rgb(255, 145, 0) url(https://tympanus.net/Tutorials/CSS3FluidParallaxSlideshow/images/arrows.png) no-repeat;
    -webkit-transition: opacity linear 0.3s;
    -moz-transition: opacity linear 0.3s;
    -o-transition: opacity linear 0.3s;
    -ms-transition: opacity linear 0.3s;
    transition: opacity linear 0.3s;
    border-radius: 10px;
    padding: 10px 0;
    transition: .3s;
}

.sp-arrow:hover {
    opacity: 1;
}

.sp-arrow:active {
    margin-top: -18px;
}

.sp-selector-1:checked~.sp-arrow.sp-a2,
.sp-selector-2:checked~.sp-arrow.sp-a3,
.sp-selector-3:checked~.sp-arrow.sp-a4,
.sp-selector-4:checked~.sp-arrow.sp-a5 {
    right: 15px;
    display: block;
    background-position: top right;
}

.sp-selector-2:checked~.sp-arrow.sp-a1,
.sp-selector-3:checked~.sp-arrow.sp-a2,
.sp-selector-4:checked~.sp-arrow.sp-a3,
.sp-selector-5:checked~.sp-arrow.sp-a4 {
    left: 15px;
    display: block;
    background-position: top left;
}

.sp-slideshow input:checked~.sp-content {
    -webkit-transition: background-position linear 0.6s, background-color linear 0.8s;
    -moz-transition: background-position linear 0.6s, background-color linear 0.8s;
    -o-transition: background-position linear 0.6s, background-color linear 0.8s;
    -ms-transition: background-position linear 0.6s, background-color linear 0.8s;
    transition: background-position linear 0.6s, background-color linear 0.8s;
}

.sp-slideshow input:checked~.sp-content .sp-parallax-bg {
    -webkit-transition: background-position linear 0.7s;
    -moz-transition: background-position linear 0.7s;
    -o-transition: background-position linear 0.7s;
    -ms-transition: background-position linear 0.7s;
    transition: background-position linear 0.7s;
}

input.sp-selector-1:checked~.sp-content {
    background-position: 0 0;
}

input.sp-selector-2:checked~.sp-content {
    background-position: -100px 0;
}

input.sp-selector-3:checked~.sp-content {
    background-position: -200px 0;
}

input.sp-selector-4:checked~.sp-content {
    background-position: -300px 0;
}

input.sp-selector-5:checked~.sp-content {
    background-position: -400px 0;
}

input.sp-selector-1:checked~.sp-content .sp-parallax-bg {
    background-position: 0 0;
}

input.sp-selector-2:checked~.sp-content .sp-parallax-bg {
    background-position: -200px 0;
}

input.sp-selector-3:checked~.sp-content .sp-parallax-bg {
    background-position: -400px 0;
}

input.sp-selector-4:checked~.sp-content .sp-parallax-bg {
    background-position: -600px 0;
}

input.sp-selector-5:checked~.sp-content .sp-parallax-bg {
    background-position: -800px 0;
}

.sp-slider {
    position: relative;
    left: 0;
    width: 500%;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    -webkit-transition: left ease-in 0.8s;
    -moz-transition: left ease-in 0.8s;
    -o-transition: left ease-in 0.8s;
    -ms-transition: left ease-in 0.8s;
    transition: left ease-in 0.8s;
}

.sp-slider>li {
    color: #fff;
    width: 20%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    padding: 0 60px;
    float: left;
    text-align: center;
    opacity: 0.4;
    -webkit-transition: opacity ease-in 0.4s 0.8s;
    -moz-transition: opacity ease-in 0.4s 0.8s;
    -o-transition: opacity ease-in 0.4s 0.8s;
    -ms-transition: opacity ease-in 0.4s 0.8s;
    transition: opacity ease-in 0.4s 0.8s;
}

.sp-slider>li img {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    padding: 40px 0 50px 0;
    max-height: 100%;
    max-width: 100%;
}

input.sp-selector-1:checked~.sp-content .sp-slider {
    left: 0;
}

input.sp-selector-2:checked~.sp-content .sp-slider {
    left: -100%;
}

input.sp-selector-3:checked~.sp-content .sp-slider {
    left: -200%;
}

input.sp-selector-4:checked~.sp-content .sp-slider {
    left: -300%;
}

input.sp-selector-5:checked~.sp-content .sp-slider {
    left: -400%;
}

input.sp-selector-1:checked~.sp-content .sp-slider>li:first-child,
input.sp-selector-2:checked~.sp-content .sp-slider>li:nth-child(2),
input.sp-selector-3:checked~.sp-content .sp-slider>li:nth-child(3),
input.sp-selector-4:checked~.sp-content .sp-slider>li:nth-child(4),
input.sp-selector-5:checked~.sp-content .sp-slider>li:nth-child(5) {
    opacity: 1;
}

@media screen and (max-width: 840px) {
    .sp-slideshow {
        height: 345px;
    }
}

@media screen and (max-width: 680px) {
    .sp-slideshow {
        height: 285px;
    }
}

@media screen and (max-width: 560px) {
    .sp-slideshow {
        height: 235px;
    }
}

@media screen and (max-width: 320px) {
    .sp-slideshow {
        height: 158px;
    }
}

.slideshow-container {
    position: relative;
}

.left-product-info {
    position: absolute;
    top: 8rem;
    left: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.product-info-title {
    margin-bottom: 20px;
}

.info-title {
    font-weight: 500;
    font-size: .9rem;
}

.info {
    font-weight: 300;
    font-size: .8rem;
    margin-top: 5px;
    margin-bottom: 10px;
}

.right-product-info {
    position: absolute;
    top: 8rem;
    right: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.left-product-info p {}

.right-product-info p {}

.product-info-title {
    font-size: 1.3rem;
    font-weight: 700;
}

.option-product-color {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.option-product-color .color-dot {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    cursor: pointer;
}

.red {
    background-color: rgb(255, 50, 50);
}

.orange {
    background-color: rgb(252, 181, 49);
}

.blue {
    background-color: rgb(92, 92, 240);
}

.purple {
    background-color: rgb(99, 35, 99);
}

.order-support-wrapper {
    display: flex;
    justify-content: center;
    margin: 24px 0;
}

.order-support {
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    transition: .3s;
}

.order-support:hover {
    background-color: rgb(255, 145, 0);
}

.info-detail {
    text-align: center;
    padding: 50px 200px;
}

.info-detail .info-detail-title {
    font-weight: 800;
}

/* END INTRODUCE PAGE */